<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/filter.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/scrollDown.css">

    <!-- media queries -->
    <link rel="stylesheet" href="./stylesheets/media-queries/smartphones.css"
media="only screen and (min-device-width : 320px)
and (max-device-width : 480px)">

<link rel="stylesheet" href="./stylesheets/media-queries/smartphones-landscape.css"
media="only screen and (min-width : 321px)">

<link rel="stylesheet" href="./stylesheets/media-queries/smartphones-portrait.css"
media="only screen and (max-width : 320px)">

<link rel="stylesheet" href="./stylesheets/media-queries/ipads.css"
media="only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)">

<link rel="stylesheet" href="./stylesheets/media-queries/ipads-landscape.css"
media="only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)">

<link rel="stylesheet" href="./stylesheets/media-queries/ipads-portrait.css"
media="only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)">

<link rel="stylesheet" href="./stylesheets/media-queries/large-screens.css"
media="only screen and (min-width : 1824px)">

<!-- scripts -->

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"> 
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"</script>
    
      <script type="text/javascript" src="./scripts/jquery.mixitup.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

    <script src="./scripts/main.js" type="text/javascript"></script>
    <script src="./scripts/filter.js" type="text/javascript"></script>
  
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0c3dea5ab7.js"></script>
  
    <script src="https://unpkg.com/scrollreveal"></script>
   
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <a class="navbar-brand brand-regular" href="/">Rene van Dijk</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="#section10 ">About me <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#MyWorkSection">My Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#container_portfolio">All projects</a>
              </li>
              
            </ul>
          </nav>
    