<div class="container-fluid orangeContainer contentSection">
    <div class="container ProjectPreviewContainer ">
        <div class="row">
                <div class="col-lg-5 col-sm-12 order-12">
                        <img src="./img/intake_Preview.png" class="img-fluid contentSection project-preview-img"  alt="Responsive image">
        
                </div>
        <div class='col-lg-7 col-sm-12 order-1'>
            <h1 class="preview_Header">Double check</h1>
            <h3>Rethinking the intake procedure of GoOV B.V</h3>
            <p>GoOV BV is social business which provides a service to people who struggle when they need to travel alone with public transportation. since most of the users of the GoOV application have cognitive disabilities users must complete the intake procedure before they can use the service. GoOV noticed that a lot of users struggled to finish the intake or didn’t complete it at all. By conducting a UX research study i mapped the current journey and designed a new service which aims to take away most of the current pain points.    
            </p>
            <a href="/double-check" class="btn btn-white btn-animation-1 red-back-btn yellow-btn">View project  <i class="fas fa-arrow-right"></i></a> 

            </button>
        </div>
        
    </div>
</div>
</div>

<div class="container-fluid  ">
    <div class="container ProjectPreviewContainer  middleContainer">
        <div class="row">
        <div class='col-lg-7 col-sm-12 '>
            <h1 class="preview_Header">Elderly NL</h1>
            <h3>Finding out how to design great voice experiences
            </h3>
            <p>Elderly NL is a voice application for the Google home which aims to return some freedom to the elderly by keeping track of important data and providing them with a way to communicate with their family. 

                    As part of my graduation project i got the change to improve my skills within a field of choice. I chose to find out how to design usable voice interfaces. I started with a literature study to define what makes a good VUI. After that i looked at the potential use cases in which a voice interfaces is more usable than a graphical interface. With that list i brainstormed about when this situation could occur. With those results i started to think about how a VUI could solve those problems and that is how the idea for Elderly NL was born. 
                    
            </p>
            <a href="/elderly" class="btn btn-white btn-animation-1 yellow-btn white-btn">View project  <i class="fas fa-arrow-right"></i></a> 

            </button>
        </div>
        <div class="col-lg-5 col-sm-0 project-preview-img" id="second-port-preview" >
                

        </div>
    </div>
</div>
</div>


<div class="container-fluid yellowContainer contentSection">
    <div class="container ProjectPreviewContainer ">
        <div class="row">
        <div class='col-lg-7 col-sm-12 '>
            <h1 class="preview_Header">Parking experience</h1>
            <h3>Using service design to improve the parking experience within a Dutch city</h3>
            <p>The goal of this assignment was to improve the overall parking experience for the visitors and inhabitants of the city. We started by mapping the current journey so we could pinpoint as much pain points as possible. We did this by performing a two day field research where we spent our time talking with various user groups. The data of our research was meant to be used as input for an ideation workshop where we would work together with users to come up with solutions for the current problems. 
          <br>
          <br>
              <a href="/parking" class="btn btn-white btn-animation-1 yellow-back-btn purple-btn">View project  <i class="fas fa-arrow-right"></i></a> 
            
           
        </div>
        <div class="col-lg-5 col-sm-12">
                <img src="./img/portfolio's/Parking/01.jpg" class="img-fluid contentSection preview-img mx-auto d-block  project-preview-img"  alt="Responsive image">

        </div>
    </div>
</div>
</div>