<div class="container-fluid orangeContainer contentSection">
    <div class="container ProjectPreviewContainer ">
        <div class="row">
        <div class='col-7 '>
            <h1 class="preview_Header">Double check</h1>
            <h3>Rethinking the intake procedure of GoOV B.V</h3>
            <p>Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
            </p>
            <a href="#" class="btn btn-white btn-animation-1 red-back-btn yellow-btn">View project  <i class="fas fa-arrow-right"></i></a> 

            </button>
        </div>
        <div class="col-5">
                <img src="./img/intake_Preview.png" class="img-fluid contentSection"  alt="Responsive image">

        </div>
    </div>
</div>
</div>

<div class="container-fluid  ">
    <div class="container ProjectPreviewContainer  middleContainer">
        <div class="row">
        <div class='col-7 '>
            <h1 class="preview_Header">Elderly NL</h1>
            <h3>Finding out how to design great voice experiences
            </h3>
            <p>Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
            </p>
            <a href="#" class="btn btn-white btn-animation-1 yellow-btn white-btn">View project  <i class="fas fa-arrow-right"></i></a> 

            </button>
        </div>
        <div class="col-5" id="second-port-preview">
                

        </div>
    </div>
</div>
</div>


<div class="container-fluid yellowContainer contentSection">
    <div class="container ProjectPreviewContainer ">
        <div class="row">
        <div class='col-7 '>
            <h1 class="preview_Header">Parking experience</h1>
            <h3>Using service design to improve the parking experience within a Dutch city</h3>
            <p>Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
            </p>
          
              <a href="#" class="btn btn-white btn-animation-1 yellow-back-btn purple-btn">View project  <i class="fas fa-arrow-right"></i></a> 
            
           
        </div>
        <div class="col-5">
                <img src="./img/crypto_Preview.png" class="img-fluid contentSection preview-img mx-auto d-block"  alt="Responsive image">

        </div>
    </div>
</div>
</div>