
    <div class = 'timeLineContainer contentSection'>
        <h1 class="titles">My <span class='boldText'>Journey</h1></span>
        <hr class = 'underline'>
    <ul class="timeline">
        <li>
          <div class="timeline-badge "><i class="glyphicon glyphicon-hand-left"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Graduated in “International business and wholesale” MBO 4 .</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> August 2015</small></p>
            </div>
            <div class="timeline-body">
              <p>During my time as an intern i noticed that i missed human interaction a lot, and that i enjoyed creative work a lot more than only working with numbers. What i did enjoy was analysing data and processing it to useful information.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge "><i class="glyphicon glyphicon-chevron-right"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Internship MOBGEN | Part of Accenture interactive</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Februari 2018 / june 2018</small></p>
            </div>
            <div class="timeline-body">
              <p>Within my 3rd year i followed an internship at MOBGEN within the service design team. I had the opportunity to work on different service design and UX design projects, usertesting sessions and designed various prototypes. I completed this internship with a 9.8</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge "><i class="glyphicon glyphicon-eye-open"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Minor: Project van je leven
                   </h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> september 2018 / februari 2019</small></p>
            </div>
            <div class="timeline-body">
              <p> During this period i had the chance to learn a skill of choice. I chose to learn how to program and during this time i worked with different modern web technologies like: NodeJS, Express, en MongoDB.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge "><i class="glyphicon glyphicon-home"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Project for graduation "how to design usable voice interfaces"</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> februari 2019 / june 2019</small></p>
            </div>
            <div class="timeline-body">
              <p>During this time i spent my time on learned how to be a voice user interface (VUI) designer.  I learned important design rules and how to create interactive prototypes. </p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge default"><i class="glyphicon glyphicon-home"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Graduation project "GoOV intake procedure"</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> june 2019 / september 2019</small></p>
            </div>
            <div class="timeline-body">
              <p>
                  I conducted UX research on how to increase the overall user experience of the GoOv intake procedure. Eventually i created and tested an an interactive prototype of the new procedure. 
                   </p>

          </div>
        </li>
       
    </ul> 
</div>

<div class="contentSection bigTextContainer">
    <h1 class="hugeText">
        I <i class="far fa-heart redText"></i>
    </h1>
    <h1 class="bigPurpleText">
        Working with, and for people
    </h1>
    <h3>* Yes it's cliché but it's true </h3>
    <p class="contentSection">I truly believe that talking and listening to users can make a huge difference when it comes to the success of a product or service. I can get excited when new patterns emerge from the data of interviews or tests.  
    </p>
    </div> 
</div>

        <img src="./img/userTest_Elderly.jpg" class="img-fluid contentSection huge-img"  alt="Responsive image">
     
<div class="container" id="MyWorkSection">
    <div class = 'timeLineContainer contentSection'>
        <h1 class="titles">My <span class='boldText'>projects</h1></span>
        <hr class = 'underline'>
    </div>
</div>

