<% include ./partials/project-header %> 

<!-- Navigation
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Start Bootstrap</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      
      <!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead" id="double-check-header">
    <div class="dark-overlay">
         <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light project-title">Double check</h1>
                     <p class="lead project-subtitle">Rethinking the intake procedure of GoOV B.V</p>
                </div>
                <% include ./partials/scroll-Indicator %>
            </div>
        </div>
    </div>
    
  
</header>



<div class="container project-info-container contentSection"  id="project-info">
 
    <div class="col-12 summary-container">
        <h1 class="port-title">The context</h1>
        <p id="port-summary" class=""> GoOV BV is social business which provides a service to people who struggle when they need to travel alone with public transportation. since most of the users of the GoOV application have cognitive disabilities users must complete the intake procedure before they can use the service. </p>
    </div>

    <div class="col-12 subText-Container">
        <h1 class="port-title"> <span class="yellowText"><i class="fas fa-bullseye"></i></span> The goal</h1>
        <p class="port-summary">GoOV noticed that a lot of users struggled to finish the intake or didn’t complete it at all. So the goal of the assignment was to increase the overall user experience of the intake procedure
            for users with cognitive disabilities as well as for their parents in order to reduce the amount of people who don't finnish the intake.  
        </p>
    </div>

    <div class="col-12 subText-Container">
        <h1 class="port-title"> <span class="yellowText"><i class="fas fa-pencil-alt"></i></span> Debrief</h1>
        <p class="port-summary"> At first they just wanted to gamify the procedure. I started by asking them the question: "why do you want that?". By asking this it became clear that they 
            wanted to gamify the procedure because they noticed that a lot of poeple dropped out during this stage. Their assumption was that the complexity of the current procedure was the root of the problem.
        </p>
     </div>

        
    <div class="col-12 subText-Container">
        <h1 class="port-title"> <span class="yellowText"> <i class="fas fa-users"></i>  </span>My role</h1>
        <p class="port-summary"> I worked alone on this assignment, so my role consisted out of: <br>
            - Desk research <br>
            - Preparing and conducting field research <br>
            - Coming up with possible solutions <br>
            - Creating a prototype <br>
            - Testing <br>
            - Analysing test data <br> 
            - Refining the prototype  <br>


        </p>
    </div>

    <div class="col-12 subText-Container tools">
        <h1 class="port-title"> <span class="yellowText"><i class="fas fa-toolbox"></i></span>  Tools</h1>
        <div class="row text-center" id="tools-container">
            <div class="col-2 ">
                <i class="fab fa-adobe"></i>
                    <p>Adobe XD</p>
            </div>
            <div class="col-2">
                <i class="fab fa-adobe"></i>
                     <p> Illustrator</p>
            </div>
            <div class="col-2">
<i class="fa fa-desktop" aria-hidden="true"></i>
                <p>Desk research </p>
            </div>
            <div class="col-2">
                <i class="far fa-comments"></i>
                <p>Field research</p>
            </div>
         </div>
    </div>

    <div class="col-12 subText-Container" id="process">
            <h1 class="port-title"> <span class="yellowText"> <i class="fas fa-pencil-alt"></i> </span> The proces</h1>
            <p class="port-summary"> I handled this assignment as a service design project so i looked at the whole experience and how i could improve the overall experience for
                the end user but also for the different stakeholers. To accomplish this i made use of the design thinking framework and worked my way trough these stages. 
                 

            </p>
<br>
           
         </div>

         


</div>

<!-- red zone  -->
<div class="container-fluid LightorangeContainer contentSection">
        <div class="container ProjectPreviewContainer ">
            <div class='col-12 portfolio-paragraph'>
                <h1 class="stages-port-title">Empathize</h1>
                <h3 class="stages-port-subtitle purple">Fly on the wall </h3>
                <p class=""> In order to be able to ask the right questions during the expert and user interviews i started the research with an observation of someone who still needed to complete the intake procedure.
                    Because it's not possible to spy on people while they are at home i was not able to do a regular fly on the wall. I ofcourse had to ask if i could observe the participant.
                    This meant that i had to ask her to act like i was not there, this way i was still able to pinpoint some red flags within the process. 
                </p>
            </div>
            <div class='col-12 portfolio-paragraph'>
            
                <h3 class="stages-port-subtitle purple">Expert interviews</h3>
                <p class=""> In order to get a good understanding of the current procedure i started with conducting expert interviews within the orginisation. 
                    The goal of this was to find out where these people thought the problems with the current procedure came from. But also to find out how they come into contact with the service 
                    during their workdays. So i asked them to describe in one word what their ideal intake procedure would look like, what they think should change, what they think sould stay and if my assumptions about the current journey where correct. 
                </p>
            </div>
            <div class='col-12 portfolio-paragraph'>
                <h3 class="stages-port-subtitle purple">User interviews</h3>
                <p class=""> I contacted people who already completed the process and asked them if they wanted to help improve the service by doing an interview with me. I was able to find five users who wanted to participate. 
                    I went on a two day journey around the country where i spoke in depth with all of these people. On beforehand i prepared a form which helped me structure the conversation but i kept enough room to go off script when neccessary. 
                    I also took some template journey's with me and asked the participants to describe their journey in as much detail as possible. Beside this i let them perform some though experiments during which i asked them questions like:
                  <br>  - If the intake was an animal, which animal would it be? <br>
                    - In my ideal word the intake procedure of GoOV BV would be: 
                    

                </p>
            </div>
        </div>
    </div>
</div>

<!-- purple zone  -->
<div class="container-fluid purpleContainer ProjectPreviewContainer">
        <div class="container  ">
            <div class='col-12 '>
                <h1 class="stages-port-title">Define</h1>
                <h3 class="stages-port-subtitle yellow">Persona's</h3>
                <p class="white"> After i completed the user interviews i culstered the results to see if there where any visible connections. I used these clusters to create 
                    four persona's
                </p>
            </div>
            <div class="row">
                
            
                <div class="col-sm-12 col-lg-6 ">
                 <img  src="./img\portfolios/GoOV/process/gerda.jpg" class="mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
            </div>

            <div class="col-sm-12 col-lg-6 ">
            <img  src="./img\portfolios/GoOV/process/nadia.jpg" class="mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
            </div>
        </div>

        <div class="row">
            
        <div class="col-sm-12 col-lg-6 ">
                                <img  src="./img\portfolios/GoOV/process/wouter.jpg" class="mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
            </div>

            <div class="col-sm-12 col-lg-6 ">
                    <img  src="./img\portfolios/GoOV/process/robin.jpg" class=" mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
            </div>
        </div>


            <div class='col-12 '>
                <h3 class="stages-port-subtitle yellow">Customer journey's</h3>
                <p class="white">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
            </div>
            <div class="col-12 ">
                <img  src="./img\portfolios/GoOV/process/journey_Robin.jpg" class="img-fluid portfolio-image-big mx-auto d-block" alt="Responsive image">
        </div>
            <div class="col-12 ">
                <img  src="./img\portfolios/GoOV/process/journey_Nadia.jpg" class="img-fluid portfolio-image-big mx-auto d-block" alt="Responsive image">
        </div>
            <div class="col-12 ">
                <img  src="./img\portfolios/GoOV/process/journey_Wouter.jpg" class="img-fluid portfolio-image-big mx-auto d-block" alt="Responsive image">
        </div>
            <div class="col-12 ">
                <img  src="./img\portfolios/GoOV/process/journey_Gerda.jpg" class="img-fluid portfolio-image-big mx-auto d-block" alt="Responsive image">
        </div>

        <div class='col-12 '>
                <h3 class="stages-port-subtitle yellow">Guiding principles</h3>
                <p class="white">
                    I used the persona's and journeys as input for the guidng principles: 
                    <br> - Completing and processing the intake needs to be as time efficient as possible. 
                    <br> - The intake needs to be understandable and executeble by people of each cognitive and language level. 
                    <br> - During the intake it needs to be clear to the user where their data is going and why we are asking for it. 
                    <br> - The intake is as hardware, software and time independent as possible. 
                    <br> - The communication between GoOV and the user is as personal as possible
                </p>
            </div>
        </div>        
    </div>
</div>

<!-- yellow zone  -->

<div class="container-fluid darkOrangeContainer ProjectPreviewContainer">
        <div class="container  ">
            <div class='col-12 '>
                <h1 class="stages-port-title">Ideation</h1>
                <h3 class="stages-port-subtitle purple">How might we statements</h3>
                <p class="black">I created a how might we statement for each of the painpoints which the pesona's experienced. 
                </p>
            </div>
            <div class='col-12 '>
                <h3 class="stages-port-subtitle purple"> Provocation</h3>
                <p class="black">
                    Provocation is brainstoming without restricitions and this helped me think outside the box. 
                </p>
            </div>
        
            <div class='col-12 '>
                <h3 class="stages-port-subtitle purple"> Wors't ideas</h3>
                <p class="black">
                   I used this technique to get clear what i should avoid when designing the final product. 
                </p>
            </div>
            <div class='col-12 '>
                    <h3 class="stages-port-subtitle purple"> Concepting</h3>
                    <p class="black">
                      After i competed thes exersises i drafted four medium independent concepts which i thought could solve the problems.  
                    </p>
                </div>

                <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/ideation/mock-ups/northstar.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
                    <p>Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                        sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                        incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                        velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug</p>
                </div>
            
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/ideation/mock-ups/profiler.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
                    <p>Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                        sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                        incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                        velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug</p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/ideation/mock-ups/proefrit.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
                    <p>Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                        sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                        incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                        velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug</p>
                </div>
            
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/ideation/mock-ups/intakegesprek.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
                    <p>Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                        sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                        incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                        velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug</p>
                </div>
            
                <div class='col-12 '>
                        <h3 class="stages-port-subtitle purple"> Voting</h3>
                        <p class="black">
                          I had expert look at my concept and let them vote on their favorite. During these discussions it became clear to me that none of these concepts ticked all the boxes. 
                            The big challenge was to involve the children in the proces while keeping the intake as efficient as possible and maintaining credibility for the insurance. 
                             I decided to merge two of these concepts into a new one.    
                        </p>
                    </div>
                <div class='col-12 '>
                        <h3 class="stages-port-subtitle purple"> Final concept</h3>
                        <p class="black">
                         Double check <br>
                         The child fills in some questions about how they would act within a sertain situatiation, the system creates a profile of the child and the parent only needs to check if is correct. This way we split the work so it's not time consuming, include the children into the proces
                         all while still being credible for the insurance company.     
                        </p>
                    </div>
            </div>
        </div>     
    </div>


    <div class="container-fluid Container blueContainer ProjectPreviewContainer">
            <div class="container  ">
                <div class='col-12 '>
                    <h1 class="stages-port-title">Prototype</h1>
                    <h3 class="stages-port-subtitle yellow">Wireframe</h3>
                    <p class="black">At first i created some wireframes on paper to get a feeling of how the user go trough the procedure. 
                    </p>
                </div>
                <div class='col-12 '>
                    <h3 class="stages-port-subtitle yellow">Low fidelity prototype</h3>
                    <p class="black"> Since it was very hard to find the right test participants, some struggle with imagining things that aren't there yet and due to time constraint i only would have one user testing round. So i decided to design with more detail than i normally would at this stage. 
                        
                    </p>
                </div>
                <div class="row">
                
            
                        <div class="col-sm-12 col-lg-6 ">
                         <img  src="./img\portfolios/GoOV/proto/low-fid/1.png" class="mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
                    </div>
        
                    <div class="col-sm-12 col-lg-6 ">
                    <img  src="./img\portfolios/GoOV/proto/low-fid/2.png" class="mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
                    </div>
                </div>
        
                <div class="row">
                    
                <div class="col-sm-12 col-lg-6 ">
                                        <img  src="./img\portfolios/GoOV/proto/low-fid/3.png" class="mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
                    </div>
        
                    <div class="col-sm-12 col-lg-6 ">
                            <img  src="./img\portfolios/GoOV/proto/low-fid/4.png" class=" mx-auto d-block img-fluid portfolio-image-big" alt="Responsive image">
                    </div>
                </div>
            </div>     
        </div>

        

    <div class="container-fluid Container yellowContainer ProjectPreviewContainer">
            <div class="container  ">
                <div class='col-12 '>
                    <h1 class="stages-port-title">Test</h1>
                    <h3 class="stages-port-subtitle purple">Usability testing</h3>
                    <p class="black">
                        I conducted usabilitytest in the field because i wanted to simulate the home environment so i could make sure the solution would work in the real world. I tested the new intake on partents and their children. 
                        The part of the application that was meant for the back-office was tested back at GoOV HQ on the staf that would be using that part of the application. 

                    </p>
                </div>
                
                <div class="col-12 ">
                        <img  src="./img\portfolios/GoOV/photo/03.png" class="img-fluid portfolio-image-big" alt="Responsive image">
                </div>

                <div class='col-12 contentSection '>
                    <h3 class="stages-port-subtitle purple">Findings</h3>
                    <div class="row contentSection">
                        <div class="col-lg-6 col-sm-12 portfolio-paragraph">
                            <h2>Signify</h2>
                            <p class="black"> - The slider needs to signify the user in a more clear way that they neey need to move it. <br>
                                <br>
                                - The part where the user needs to create a travel pass needs be completely overhauled. Righ now it isn't clear what they need to fill inn <br>
                                <br>
                                - Placeholder text needs to be adjusted so they no longer cause cunfusion <br>
                                <br>

                                - Add signifier to signature page so users know what to do.
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-12 portfolio-paragraph">
                            <h2>Language</h2>
                            <p class="black"> - Questions need to be simplified so more people can understand what they mean <br>
                                <br>
                               -  Questions need to be checked on amibiuous meaning. 
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 portfolio-paragraph">
                            <h2>Explanation</h2>
                            <p class="black">- Visual clues need to be added so it is more clear what part of the proces is meant for who.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>     
        </div>
    </div>
    
<!-- final product -->

<div class="container-fluid  white-container ProjectPreviewContainer" id="final-product">
    <div class="container  ">
        <div class='col-12 '>
            <h1 class="stages-port-title purple">Final product </h1>
            

        </div>
        
        <div class="col-12 product-main contentSection">
            <img  src="./img\intake_Preview.png" class="img-fluid " alt="Responsive image">
        </div>
        
         <!-- text with 4 images  -->
         <div class='col-12 contentSection'>
                <h3 class="stages-port-subtitle dark-orange">GoOV intake portal</h3>
                 <p class="black"><p class="black"> This is the part of the proces that will be used by the organisation to create new intakes and to keep track of how far users are with filling in their intake.  A new intake is created in the GoOV backoffice portal. 
                </p>
            </div>
    
            <div class="row contentSection">
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/proto/high-fid/back-office/1.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/proto/high-fid/back-office/2.png " class="img-fluid portfolio-image-big " alt="Responsive image">
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/proto/high-fid/back-office/3.png  " class="img-fluid portfolio-image-big " alt="Responsive image">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img  src="./img\portfolios/GoOV/proto/high-fid/back-office/5.png  " class="img-fluid portfolio-image-big " alt="Responsive image">
                </div>
            </div>

            <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img  src="./img\portfolios/GoOV/proto/high-fid/back-office/4.png  " class="img-fluid portfolio-image-big " alt="Responsive image">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <img  src="./img\portfolios/GoOV/proto/high-fid/back-office/6.png  " class="img-fluid portfolio-image-big " alt="Responsive image">
                    </div>
                </div>

            <div class='col-12 '>
                   
                    <h3 class="stages-port-subtitle dark-orange">The child answers some questions</h3>
                    <p class="black"> They get an e-mail explaining what they should do. The child needs to complete his/her part first on a device of choise. After they filled in all the questions they press send. 
                    </p>
                </div>
                <div class="row contentSection">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/e-mail_01.png " class="img-fluid portfolio-image-big " alt="Responsive image">
                        </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_01.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_03.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_04.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                    </div>
                <div class='col-12 '>

                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_05.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_06.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                    </div>

                <div class='col-12 '>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_07.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_08.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                    </div>

                    <div class='col-12 '>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                        <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_09.png " class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                                <div class="col-lg-6 col-sm-12">
                                        <img  src="./img\portfolios/GoOV/proto/high-fid/reiziger/reiziger_10.png" class="img-fluid portfolio-image-big " alt="Responsive image">                        </div>
                            </div>
        
                <div class='col-12 '>
                    <h3 class="stages-port-subtitle dark-orange">The system creates a profile which the parent checks</h3>
                    <p class="black"> They get another e-mail saying that the parent needs to check if the profile we created matche their point of view. They have to answer some questions which need to be filled in by an adult after they have dont that they get to react to some sentences about their children.
                        They need to agree or disagree, if they disagree they need to give an explanation. When they have completed the procedure they press send, when that happends the intake gets sent over to te trainer who uses this data during the GoOV training. 
                    </p>
                </div>
               
                <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_01.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                        </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_02.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                    </div>
            
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_03.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_04.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_05.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_06.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_07.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_08.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_09.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                        <div class="col-lg-6 col-sm-12">
                                <img  src="./img\portfolios/GoOV/proto/high-fid/ouder/begeleider_10.png" class="img-fluid portfolio-image-big " alt="Responsive image">
                            </div>
                    </div>
                    
        </div>     
    </div>
</div>



<% include ./partials/project-footer %> 