<% include ./partials/project-header %> 

<!-- Navigation
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Start Bootstrap</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      
      <!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="dark-overlay">
         <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Elderly_NL</h1>
                     <p class="lead">Exploration study on how to design usable voice interfaces</p>
                </div>
            </div>
        </div>
    </div>
</header>

<% include ./partials/scroll-Indicator %> 

<div class="container project-info-container contentSection">
    <div class="col-12 summary-container">
        <h1 class="port-title">The context</h1>
        <p class="port-summary"> Proident velit magna Lorem do esse. Qui officia nulla dolor aliqua fugiat. Anim consectetur ad ea aliqua nostrud voluptate
        cillum duis Lorem. Pariatur sint officia culpa minim cillum pariatur fugiat culpa exercitation labore. Minim sit consectetur dolor laboris
        nostrud officia voluptate nostrud quis qui.incididunt esse et proident pariatur veniam eu.</p>
    </div>
</div>

<% include ./partials/project-footer %> 