<% include ./partials/project-header %> 

<!-- Navigation
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Start Bootstrap</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      
      <!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="dark-overlay">
         <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Elderly_NL</h1>
                     <p class="lead">Exploration study on how to design usable voice interfaces</p>
                </div>
            </div>
        </div>
    </div>
</header>

<% include ./partials/scroll-Indicator %> 

<div class="container project-info-container contentSection"  id="project-info">

    <div class="col-12 summary-container">
        <h1 class="port-title">The context</h1>
        <p class="port-summary"> Proident velit magna Lorem do esse. Qui officia nulla dolor aliqua fugiat. Anim consectetur ad ea aliqua nostrud voluptate
        cillum duis Lorem. Pariatur sint officia culpa minim cillum pariatur fugiat culpa exercitation labore. Minim sit consectetur dolor laboris
        nostrud officia voluptate nostrud quis qui.incididunt esse et proident pariatur veniam eu.</p>
    </div>

    <div class="col-12 subText-Container">
        <h1 class="port-title"> <i class="fas fa-bullseye"></i> The goal</h1>
        <p class="port-summary"> Proident velit magna Lorem do esse. Qui officia nulla dolor aliqua fugiat. Anim consectetur ad ea aliqua nostrud voluptate
        cillum duis Lorem. Pariatur sint officia culpa minim cillum pariatur fugiat culpa exercitation labore. Minim sit consectetur dolor laboris
        nostrud officia voluptate nostrud quis qui.incididunt esse et proident pariatur veniam eu.</p>
    </div>

    <div class="col-12 subText-Container">
        <h1 class="port-title"> <i class="fas fa-pencil-alt"></i> Debrief</h1>
        <p class="port-summary"> Proident velit magna Lorem do esse. Qui officia nulla dolor aliqua fugiat. Anim consectetur ad ea aliqua nostrud voluptate
        cillum duis Lorem. Pariatur sint officia culpa minim cillum pariatur fugiat culpa exercitation labore. Minim sit consectetur dolor laboris
         nostrud officia voluptate nostrud quis qui.incididunt esse et proident pariatur veniam eu.</p>
     </div>

        
    <div class="col-12 subText-Container">
        <h1 class="port-title"> <i class="fas fa-users"></i>  My role</h1>
        <p class="port-summary"> Proident velit magna Lorem do esse. Qui officia nulla dolor aliqua fugiat. Anim consectetur ad ea aliqua nostrud voluptate
        cillum duis Lorem. Pariatur sint officia culpa minim cillum pariatur fugiat culpa exercitation labore. Minim sit consectetur dolor laboris
         nostrud officia voluptate nostrud quis qui.incididunt esse et proident pariatur veniam eu.</p>
    </div>

    <div class="col-12 subText-Container tools">
        <h1 class="port-title"> <i class="fas fa-toolbox"></i>  Tools</h1>
        <div class="row text-center">
            <div class="col-2 ">
                    <i class="fab fa-sketch"></i>
                    <p>Scetch</p>
            </div>
            <div class="col-2">
                    <i class="fab fa-figma"></i>
                    <p>Figma</p>
            </div>
            <div class="col-2">
                    <i class="fab fa-sketch"></i>
                    <p>Scetch</p>
            </div>
            <div class="col-2">
                    <i class="fab fa-sketch"></i>
                    <p>Scetch</p>
            </div>
         </div>
    </div>

    <div class="col-12 subText-Container" id="process">
            <h1 class="port-title"> <i class="fas fa-pencil-alt"></i> The proces</h1>
            <p class="port-summary"> Proident velit magna Lorem do esse. Qui officia nulla dolor aliqua fugiat. Anim consectetur ad ea aliqua nostrud voluptate
            cillum duis Lorem. Pariatur sint officia culpa minim cillum pariatur fugiat culpa exercitation labore. Minim sit consectetur dolor laboris
             nostrud officia voluptate nostrud quis qui.incididunt esse et proident pariatur veniam eu.</p>
<br>
             <p class="port-summary"> Proident velit magna Lorem do esse. Qui officia nulla dolor aliqua fugiat. Anim consectetur ad ea aliqua nostrud voluptate
                    cillum duis Lorem. Pariatur sint officia culpa minim cillum pariatur fugiat culpa exercitation labore. Minim sit consectetur dolor laboris
                     nostrud officia voluptate nostrud quis qui.incididunt esse et proident pariatur veniam eu.</p>
                     <% include ./partials/horizontal-timeline %> 
         </div>

         


</div>

<!-- red zone  -->
<div class="container-fluid LightorangeContainer contentSection">
        <div class="container ProjectPreviewContainer ">
            <div class='col-12 '>
                <h1 class="stages-port-title">Empathize</h1>
                <h3 class="stages-port-subtitle purple">Expert interviews</h3>
                <p class="">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                    proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                    sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                    incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                    velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
            </div>
            <div class='col-12 '>
                <h3 class="stages-port-subtitle purple">Expert interviews</h3>
                <p class="">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
            </div>
        </div>
    </div>
</div>

<!-- purple zone  -->
<div class="container-fluid purpleContainer ProjectPreviewContainer">
        <div class="container  ">
            <div class='col-12 '>
                <h1 class="stages-port-title">Define</h1>
                <h3 class="stages-port-subtitle yellow">Expert interviews</h3>
                <p class="white">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                    proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                    sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                    incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                    velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
            </div>
            
            <div class="col-12 ">
                    <img  src="./img\portfolio's\Elderly\Persona's\Persona's uit onderzoek-01.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
            </div>

            <div class="col-12 ">
                    <img  src="./img\portfolio's\Elderly\Persona's\Persona's uit onderzoek-01.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
            </div>

            <div class="col-12 ">
                    <img  src="./img\portfolio's\Elderly\Persona's\Persona's uit onderzoek-01.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
            </div>

            <div class="col-12 ">
                    <img  src="./img\portfolio's\Elderly\Persona's\Persona's uit onderzoek-01.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
            </div>

            <div class='col-12 '>
                <h3 class="stages-port-subtitle yellow">Expert interviews</h3>
                <p class="white">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
            </div>
            <div class="col-12 ">
                <img  src="./img\portfolio's\Elderly\Persona's\Persona's uit onderzoek-01.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
        </div>
        </div>        
    </div>
</div>

<!-- yellow zone  -->

<div class="container-fluid darkOrangeContainer ProjectPreviewContainer">
        <div class="container  ">
            <div class='col-12 '>
                <h1 class="stages-port-title">Ideation</h1>
                <h3 class="stages-port-subtitle purple">Expert interviews</h3>
                <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                    proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                    sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                    incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                    velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
            </div>
            <div class='col-12 '>
                <h3 class="stages-port-subtitle purple">Expert interviews</h3>
                <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
            </div>
            <div class="col-12 ">
                    <img  src="./img\portfolio's\Elderly\Persona's\Persona's uit onderzoek-01.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
            </div>
        </div>     
    </div>


    <div class="container-fluid Container blueContainer ProjectPreviewContainer">
            <div class="container  ">
                <div class='col-12 '>
                    <h1 class="stages-port-title">Prototype</h1>
                    <h3 class="stages-port-subtitle yellow">Expert interviews</h3>
                    <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                        proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                        sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                        incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                        velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                    </p>
                </div>
                <div class='col-12 '>
                    <h3 class="stages-port-subtitle yellow">Expert interviews</h3>
                    <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                    proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                    sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                    incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                    velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                    </p>
                </div>
                <div class="col-12 ">
                        <img  src="./img\portfolio's\Elderly\Persona's\Persona's uit onderzoek-01.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
                </div>
            </div>     
        </div>

        

    <div class="container-fluid Container yellowContainer ProjectPreviewContainer">
            <div class="container  ">
                <div class='col-12 '>
                    <h1 class="stages-port-title">Test</h1>
                    <h3 class="stages-port-subtitle purple">Usability testing</h3>
                    <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                        proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                        sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                        incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                        velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                    </p>
                </div>
                
                <div class="col-12 ">
                        <img  src="./img\userTest_Elderly.jpg" class="img-fluid portfolio-image-big" alt="Responsive image">
                </div>

                <div class='col-12 contentSection '>
                    <h3 class="stages-port-subtitle purple">Findings</h3>
                    <div class="row contentSection">
                        <div class="col-6">
                            <h2>better life</h2>
                            <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                            proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                            sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident 
                            </p>
                        </div>
                        <div class="col-6">
                            <h2>better life</h2>
                            <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                            proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                            sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h2>better life</h2>
                            <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                            proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                            sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                            </p>
                        </div>
                        <div class="col-6">
                            <h2>better life</h2>
                            <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                            proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                            sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                            </p>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
    
<!-- final product -->

<div class="container-fluid  white-container ProjectPreviewContainer" id="final-product">
    <div class="container  ">
        <div class='col-12 '>
            <h1 class="stages-port-title purple">Final product</h1>
            <h3 class="stages-port-subtitle dark-orange">GoOV intake portal</h3>
            <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor g
            </p>
        </div>
        
        <div class="col-12 product-main contentSection">
            <img  src="./img\intake_Preview.png" class="img-fluid " alt="Responsive image">
        </div>
        
         <!-- text with 4 images  -->
         <div class='col-12 contentSection'>
            <h3 class="stages-port-subtitle dark-orange">GoOV intake portal</h3>
             <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor g
            </p>
        </div>

        <div class="row contentSection">
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
        </div>

         <!-- text with 4 images  -->
         <div class='col-12 contentSection'>
            <h3 class="stages-port-subtitle dark-orange">GoOV intake portal</h3>
             <p class="black">Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor g
            </p>
        </div>

        <div class="row contentSection">
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
            <div class="col-6">
                <img  src="./img\portfolio's/GoOV/Intake_omgeving_Home.png " class="img-fluid portfolio-image-big " alt="Responsive image">
            </div>
        </div>
    </div>     
</div>



<% include ./partials/project-footer %> 