<% include ./partials/header %> 
<div class="container contentSection">
    <div class="row">
    <div class="col-6">
        <h1 class='bigTextBlack'>I am Rene van Dijk and i am a</h1>
        <h1 class='bigTextRed'>Digital product and service designer</h1>

    </div>

    <div class="col-6">
            <img src="./img/portrait.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>

<!--  scroll down -->
<section id="section10" class="demo">
 
  <a href=""><span></span></a>
</section>


    <!-- start skills row -->
    <div class="row contentSection" id="aboutMeSection">
        <div class="col-4">
            <h1> <i class="fas fa-search"></i>  Think</h1>
            <p>Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. Quis culpa et magna et sit ut.
             Labore sit occaecat laboris non deserunt consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
             Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
             </p>
        </div>
        <div class="col-4">
               <h1> <i class="fas fa-pencil-alt"></i>  Design</h1>
                <p>Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. Quis culpa et magna et sit ut.
                 Labore sit occaecat laboris non deserunt consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
                 Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
                 </p>
        </div>
        <div class="col-4">
                <h1> <i class="fas fa-code"></i>  Build</h1>
                <p>Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. Quis culpa et magna et sit ut.
                Labore sit occaecat laboris non deserunt consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
                Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
                </p>
        </div>
    </div>

    <!-- timeline -->

    <div class = 'timeLineContainer contentSection'>
        <h1 class="titles">My <span class='boldText'>Journey</h1></span>
        <hr class = 'underline'>
    <ul class="timeline">
        <li>
          <div class="timeline-badge "><i class="glyphicon glyphicon-hand-left"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Graduated in “International business and wholesale” MBO 4 .</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> August 2015</small></p>
            </div>
            <div class="timeline-body">
              <p>During my time as an intern i noticed that i missed human interaction a lot, and that i enjoyed creative work a lot more than only working with numbers. What i did enjoy was analysing data and processing it to useful information.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge "><i class="glyphicon glyphicon-chevron-right"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Internship MOBGEN | Part of Accenture interactive</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Februari 2018 / june 2018</small></p>
            </div>
            <div class="timeline-body">
              <p>Within my 3rd year i followed an internship at MOBGEN within the service design team. I had the opportunity to work on different service design and UX design projects, usertesting sessions and designed various prototypes. I completed this internship with a 9.8</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge "><i class="glyphicon glyphicon-eye-open"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Minor: Project van je leven
                   </h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> september 2018 / februari 2019</small></p>
            </div>
            <div class="timeline-body">
              <p> During this period i had the chance to learn a skill of choice. I chose to learn how to program and during this time i worked with different modern web technologies like: NodeJS, Express, en MongoDB.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge "><i class="glyphicon glyphicon-home"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Project for graduation "how to design usable voice interfaces"</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> februari 2019 / june 2019</small></p>
            </div>
            <div class="timeline-body">
              <p>Add more progress events and milestones to the left or right side of the timeline. Each event can be tagged with a date and given a beautiful icon to symbolize it's spectacular meaning.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge default"><i class="glyphicon glyphicon-home"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Graduation project "GoOV intake procedure"</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> june 2019 / september 2019</small></p>
            </div>
            <div class="timeline-body">
              <p>Add more progress events and milestones to the left or right side of the timeline. Each event can be tagged with a date and given a beautiful icon to symbolize it's spectacular meaning.</p>

          </div>
        </li>
       
    </ul> 
</div>

<div class="contentSection bigTextContainer">
    <h1 class="hugeText">
        I <i class="far fa-heart redText"></i>
    </h1>
    <h1 class="bigPurpleText">
        Working with, and for people
    </h1>
    <h3>* Yes it's cliche but it's true </h3>
    <p class="contentSection">Nostrud magna excepteur labore elit. Duis magna minim qui cillum irure in sit aute tempor deserunt aliqua anim sit. Ipsum id est culpa cillum do ullamco id 
        reprehenderit duis fugiat est nostrud officia voluptate. Pariatur ut ipsum elit elit magna anim. Enim nisi ut aliqua nisi exercitation sint pariatur. 
        Reprehenderit elit enim incididunt culpa irure. Sint cillum ullamco deserunt quis culpa voluptate consectetur fugiat officia id ex sit fugiat.
    </p>
    </div> 
</div>
        <img src="./img/userTest_Elderly.jpg" class="img-fluid contentSection"  alt="Responsive image">

<div class="container" id="MyWorkSection">
    <div class = 'timeLineContainer contentSection'>
        <h1 class="titles">My <span class='boldText'>projects</h1></span>
        <hr class = 'underline'>
    </div>
</div>

<div class="container-fluid orangeContainer contentSection">
    <div class="container ProjectPreviewContainer ">
        <div class="row">
        <div class='col-7 '>
            <h1 class="preview_Header">Double check</h1>
            <h3>Rethinking the intake procedure of GoOV B.V</h3>
            <p>Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
            </p>
            <a href="#" class="btn btn-white btn-animation-1 red-back-btn yellow-btn">View project  <i class="fas fa-arrow-right"></i></a> 

            </button>
        </div>
        <div class="col-5">
                <img src="./img/intake_Preview.png" class="img-fluid contentSection"  alt="Responsive image">

        </div>
    </div>
</div>
</div>


<div class="container-fluid  ">
        <div class="container ProjectPreviewContainer  middleContainer">
            <div class="row">
            <div class='col-7 '>
                <h1 class="preview_Header">Elderly NL</h1>
                <h3>Finding out how to design great voice experiences
                </h3>
                <p>Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                    proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                    sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                    incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                    velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
                <a href="#" class="btn btn-white btn-animation-1 yellow-btn white-btn">View project  <i class="fas fa-arrow-right"></i></a> 
    
                </button>
            </div>
            <div class="col-5" id="second-port-preview">
                    
    
            </div>
        </div>
    </div>
    </div>

    
<div class="container-fluid yellowContainer contentSection">
        <div class="container ProjectPreviewContainer ">
            <div class="row">
            <div class='col-7 '>
                <h1 class="preview_Header">Parking experience</h1>
                <h3>Using service design to improve the parking experience within a Dutch city</h3>
                <p>Dolor incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim
                    proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor incididunt sit labore proident mollit culpa commodo excepteur magna ad 
                    sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident velit excepteur irure. Nisi commodo sit aliquip et culpa qui fugDolor
                    incididunt sit labore proident mollit culpa commodo excepteur magna ad sint ea amet. Dolore tempor cillum excepteur proident enim nulla irure enim proident
                    velit excepteur irure. Nisi commodo sit aliquip et culpa qui fug
                </p>
              
                  <a href="#" class="btn btn-white btn-animation-1 yellow-back-btn purple-btn">View project  <i class="fas fa-arrow-right"></i></a> 
                
               
            </div>
            <div class="col-5">
                    <img src="./img/crypto_Preview.png" class="img-fluid contentSection preview-img mx-auto d-block"  alt="Responsive image">
    
            </div>
        </div>
    </div>
    </div>
   
    <% include ./partials/filter %> 
    
<% include ./partials/footer %> 