<% include ./partials/header %> 
<div class="container header-container contentSection">
    <div class="row">
         <div class=" col-lg-8 col-sm-12">
            <h1 class='bigTextBlack'>I am Rene van Dijk and i am a</h1>
            <h1 class='bigTextRed'> <span class="animation-one">Digital product</span> <span class="animation-two">and</span>  <br> <span class="animation-three"> service designer</span></h1>
        </div>
        <div class="col-lg-4 col-sm-12" id="header-image">
            <img src="./img/portrait.png" class="img-fluid header-img mx-auto d-block " alt="Responsive image">
        </div>
    </div>  
</div>

 <% include ./partials/scroll-Indicator %> 

<div class="container">
   
    <div class="col-12 about-me">
        <h1 class="titles">About <span class='boldText'>me</h1></span>
        <hr class = 'underline'>
    </div>
    <div class="col-12  about-me-text"> 
    <p>Hi i’m Rene and i am a <span class="bold-word">user experience designer </span>with a strong love for digital products and services. 
        I completed my internship as a <span class="bold-word">service designer </span>at one of the best interactive agencies in The Netherlands. After that i focussed on 
        learning how to create <span class="bold-word">modern web apps</span> so i could bridge the gap between design and production. I graduated with a design study on <span class="bold-word">voice 
                interfaces </span> and a UX study on the intake procedure of GoOV B.V. I believe the best work is created when challenging each other and that is why
         i prefer to work together with other people when designing products and services. 
        </p>
    </div>
    <!-- start skills row -->
    <div class="row contentSection" id="aboutMeSection">
        <div class="col-lg-4 col-sm-12 t-d-b">
            <h1> <i class="fas fa-search"></i>  Think</h1>
            <p>
                    I have experience with using different research techniques such as shadowing, fly-on the wall, user interviews, expert interviews etc. During my internship i worked as a service designer and i had the chance to prepare and conduct field research. During my graduation assignment i also had the chance to travel around the country to conduct various tests and reseaches
                    
             </p>
        </div>
        <div class="col-lg-4 col-sm-12 t-d-b">
               <h1> <i class="fas fa-pencil-alt"></i>  Design</h1>
                <p>I am up to speed with recent prototyping tools such as Sketch, Adobe XD and Figma. I also learned how to create interactive pototypes for voice interfaces using Dialog flow and custom webhooks.I have experience with rapid prototyping and am also familiar with the Adobe Creative cloud suite. 

                </p>
        </div>
        <div class="col-lg-4 col-sm-12 t-d-b">
                <h1> <i class="fas fa-code"></i>  Build</h1>
                <p>Last year i spent 3 months on learning how to create modern, dynamic web applications using NodeJS - Express  and MongoDB. This so i can make better didicions while designing and have a meaningfull discussions with programmers about design choises. 
                </p>
        </div>
    </div>


<%   include ./partials/timeline          %> 
<%   include ./partials/project-preview   %>
<%   include ./partials/filter            %> 
<%   include ./partials/footer            %> 