<% include ./partials/header %> 
<div class="container header-container contentSection">
    <div class="row">
         <div class=" col-lg-8 col-sm-12">
            <h1 class='bigTextBlack'>I am Rene van Dijk and i am a</h1>
            <h1 class='bigTextRed'> <span class="animation-one">Digital product</span> <span class="animation-two">and</span>  <br> <span class="animation-three"> service designer</span></h1>
        </div>
        <div class="col-lg-4 col-sm-12">
            <img src="./img/portrait.png" class="img-fluid header-img" alt="Responsive image">
        </div>
    </div>  
</div>

 <% include ./partials/scroll-Indicator %> 

<div class="container">
   
    <div class="col-12 about-me">
        <h1 class="titles">About <span class='boldText'>me</h1></span>
        <hr class = 'underline'>
    </div>
    <div class="col-12  about-me-text"> 
    <p>Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. Quis culpa et magna et sit ut.
        Labore sit occaecat laboris non deserunt <span class="bold-word"> design</span> consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
        Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
    Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. <span class="bold-word"> design</span> Quis culpa et magna et sit ut.
        Labore sit occaecat laboris non <span class="bold-word"> design</span> deserunt consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
        Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
        </p>
    </div>
    <!-- start skills row -->
    <div class="row contentSection" id="aboutMeSection">
        <div class="col-lg-4 col-sm-12">
            <h1> <i class="fas fa-search"></i>  Think</h1>
            <p>Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. Quis culpa et magna et sit ut.
             Labore sit occaecat laboris non deserunt consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
             Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
             </p>
        </div>
        <div class="col-lg-4 col-sm-12">
               <h1> <i class="fas fa-pencil-alt"></i>  Design</h1>
                <p>Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. Quis culpa et magna et sit ut.
                Labore sit occaecat laboris non deserunt consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
                Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
                </p>
        </div>
        <div class="col-lg-4 col-sm-12">
                <h1> <i class="fas fa-code"></i>  Build</h1>
                <p>Cupidatat nulla in elit minim culpa. Cillum Lorem excepteur ad ad occaecat fugiat ex. Quis culpa et magna et sit ut.
                Labore sit occaecat laboris non deserunt consequat eu cillum adipisicing. Nisi occaecat quis sunt qui cillum. 
                Nostrud voluptate fugiat labore ea elit consectetur occaecat fugiat ullamco sit 
                </p>
        </div>
    </div>


<%   include ./partials/timeline          %> 
<%   include ./partials/project-preview   %>
<%   include ./partials/filter            %> 
<%   include ./partials/footer            %> 