
#portfoliolist .portfolio{
    width: 48%;
}
.container{
    
    max-width: 850px!important;
}
#filters{
    
    margin-left: 5%!important
}

#horizontal-timeline{
    display: none;
}

/* timeline */
ul.timeline:before {
    left: 40px;
   
  }
  
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }

