.lightOrangeText a, .lightOrangeText{
    color: #DC8665!important;
}
.purpleText a{
    color: #534666!important;
}
.darkOrangeText, .darkOrangeText a{
    color: #CD7672!important;
}

.blueText a{
    color: #138086!important;
}

.yellowText a, .yellowText{
    
        color:#EEB462!important;
}





.masthead h1, p{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold!important;
}


.port-summary  {
    font-weight: normal!important; 

}

.masthead h1{
    font-size: 133px;
    line-height: 156px;
    text-align: center;
    color:#CD7672;
}
    .masthead p{
    font-size: 43px;
    line-height: 50px;
    text-align: center;
    color: #EEB462;
}




 .summary-container{
    background: #FFFFFF;
    box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.25);
    padding: 20px 30px!important;
    margin-bottom: 30px; 
    text-align: center; 

 }

 .project-info-container{
     margin-top:150px;
 }

 .project-info-container h1{
   color: #534666;
   font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 20px; 
}

.summary-container p{
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
 }

 .subText-Container{
     margin-top: 50px;
     background: #FFFFFF;
     box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.25);
     padding: 20px 30px !important;
 }

 .tools{
    font-size: 20px;
}


.tools h1 {
margin-left: 40px; 
} 

.timeline a{
    font-size: 25px!important;
}

 .text-center i{
     font-size: 60px;
     color: #534666;
     margin-bottom: 10px;
 }

 


 .LightorangeContainer{
     background-color: #DC8665;
 }
 .purpleContainer{
    background-color: #534666;
    margin-top: 0;
}
.yellowContainer {
    margin-top:0;
}

.darkOrangeContainer{
    background-color: #CD7672;
    margin-top:0;
}

.blueContainer{
    background-color: #138086;
    margin-top:0;
}

.white-container{
    margin-top:0;
    padding-top: 130px!important;
}

.active-menu-item a{
    font-weight: bold!important;
}

.yellow{
    color:#EEB462;
}
.purple{
    color:#534666!important;   
}
.dark-orange{
    color:#CD7672;
}

.light-orange{
    color:#DC8665;
}

.grey a {
    color:#E0E0E0 !important;
}

.dark-orange .navbar-brand{
    color:#CD7672!important;
}

.dark-orange a{
    color:black!important;
}
.dark
.black{
    color: black!important;
}

.white{
    color:#E0E0E0;   
}
 .stages-port-title{
     font-size: 92px;
     color: white;
     margin-bottom: 50px;
 }

 .stages-port-subtitle{
    font-size: 50px;
 

}

.portfolio-image-big{
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.45);
    margin: 20px 0;
}

